
body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;

    line-height: 1,6em;
    margin:0;
} 
  a{ 
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: red
}
a:active{
    color: green;
}
a:visited{
    color: black;
}
.alusta1{
    width:80%;

    margin-top:5px;
    margin-left:5px;
    margin-bottom:5px;
    margin-left:10px;
}
.alusta2{
    background-color: #333333;
    color: #ffffff;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    border-width: 3px;
    border-top-style:dotted;

    padding: 20px;
    margin: 20px;
}
.alusta2 h1{
    font-family:tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing:0 .2em;
    word-spacing: 1em;
}
.alusta3{
    border: 3px dotted #cccccc;
    padding: 20px 0;
    margin: 20px 0;
}
.kategoriat{
    border: 1px #cccccc;
    padding: 10px;
    border-radius: 15px;
}
.kategoriat h2{
    text-align: center;
}
.kategoriat ul{
    padding: 0;
    padding-left: 20px;
    list-style: square;

}
.kategoriat li{
    padding: 0;
    padding-left: dotted 1px #333333;
    list-style-image: url(`star.jpg`);
}
.lomake{
    padding: 20px;
}
.lomake .lomaketyylit{
    padding-bottom: 15px;
}
.lomake label{
    display:block;
}
.lomake input[type="text"]{
    padding:8px;
    width:100%;
}
.button{
    background-color: #333333;
    color: #ffffff;
    padding: 10px 15px;
    border:none;
}
.button:hover{
    background-color: red;
    color: #ffffff
}